* {
    margin: 0%;

}

.main {
    position: relative;
    height: 50%;
    width: 100%;
}

.banner {
    position: absolute;
    left: 15%;
}

.banner img {
    height: 500px;
    width: 1100px;
}

.sidebar {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.418);
    height: 2300PX;
    left: 15%;
    width: 15%;
}

.box1 {
    display: flex;
    margin-top: 60px;
    margin-left: 26px;
    margin-right: 20px;
    height: 5%;
    width: 70%;
    border: 2px solid white;

}

.box2 {
    display: flex;
    font-size: xx-large;
    color: white;
    text-align: center;
    margin-top: -100px;
    margin-left: 36px;
    margin-right: 30px;
    height: 5%;
    width: 70%;
    border: 2px solid white;
}

.service {
    display: flex;
    line-height: 40px;
    position: absolute;
    color: white;
    top: 10%;
    left: 30%;
    text-align: right;
    text-transform: capitalize;


}

.socialmedia {
    display: flex;
    gap: 20px;
    position: absolute;
    color: white;
    top: 20%;
    left: 20%;
    font-size: larger;
}

.icon {
    display: flex;
    position: absolute;
    top: 540px;
    left: 480px;
    gap: 70px;

}

.icon i {
    border: 2px solid white;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.449);
    height: 300px;
    width: 250px;
}

.icon .fa-building {
    font-size: 50px;
    top: 500%;
}

.icon .fa-address-card {

    font-size: 50px;
}

.icon h6 {
    display: flex;
    line-height: 20PX;
    font-size: small;
}

.box3 {
    position: absolute;
    top: 910px;
    right: 250px;
    height: 280px;
    width: 750px;
    border: 2px solid rgb(0, 0, 0);
}

.box4 {

    display: inline-block;
    position: absolute;
    top: 920px;
    right: 240px;
    height: 280px;
    width: 750px;
    border: 2px solid rgb(0, 0, 0);

}

.box4 h4 {
    display: flex;
    margin-top: 20px;
    margin-left: 20px;
    align-items: end;
}

.box4 img {
    display: inline-block;
    padding: 20px;
    height: 70%;
    width: 140px;
}

.clients {
    position: absolute;
    top: 1300px;
    margin-left: 34%;

}

.clients p {
    display: block;
}

.mainimg {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    display: grid;
    height: 5px;
    width: 80%;
    gap: 20px;
}



.clients .mainimg .images {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;

}

.clients .mainimg .images img {
    height: 80%;
    width: 80%;
}



.box5 {
    display: flex;
    position: absolute;
    top: 1750px;
    left: 500px;
    height: 350px;
    width: 30%;
    border: 2px solid rgb(135, 133, 133);
}

.box6 {
    display: flex;
    position: absolute;
    top: 1780px;
    left: 520px;
    height: 350px;
    width: 30%;
    border: 2px solid rgb(135, 133, 133);

}

.box6 #h3 {
    display: inline-block;
    color: blue;
    font-size: large;
}

.inputs {
    display: inline-block;
    margin-top: 125%;
    margin-left: 70%;
}

.inputs input {
    display: flex;
    width: 250px;
    height: 20px;
}